
/*h1 {
	color: red;
	font-size: 40px;
}
h2 {
	color: red;
	font-size: 25px;
	width: 1200;
}
.fieldBlock {
    display: block;
    background-color: rgb(200, 200, 200);
    width: 600px;
    float: left;
    padding: 10px;
}

label {
    font-weight: bold;
    color: blue;
}

input {
    border: 1px solid gray;
    font-size: 1.0em;
}*/
h1.title {
	color: red;
	font-size: 40px;
}
h2.subTitle {
	color: red;
	font-size: 20px;
}
body {
	padding-left: 40px;
}

form.form1 label {
	color: blue;
	font-weight: bold;

}
form.form2 label {
	color: blue;
	font-weight: bold; 	
}

hr {
	margin-right: 40px;
}
#text_1  {
	color: blue;
	width: 400px;
	font-weight: bold;
}
#text_1 textarea {
	color: blue;
	width: 400px;
}
